<div id="top"></div>
<header>
    {{!-- Materialize Navbar --}}
    <nav class="grey darken-1" role="navigation">
        <div class="nav-wrapper">
            <a id="logo-container" href="/" class="brand-logo left">
                <img id="logo" src="">
                <span id="appName">Scraped</span>
            </a>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content hide-on-large-only">
                <li><a href="/">Home</a></li>
                <li><a href="/">Scrape New Articles</a></li>
                <li><a href="/saved">Saved</a></li>
                <li><a href="/hidden">Hidden</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/">Scrape New Articles</a></li>
                <li><a href="/saved">Saved</a></li>
                <li><a href="/hidden">Hidden</a></li>
            </ul>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button right hide-on-large-only" href="#" data-activates="dropdown1"><i class="material-icons right">arrow_drop_down</i></a></li>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        {{!-- Handlebars partial blocks --}}
        <div class="col s12">
            {{!-- On initial view --}}
            {{#if current}}
            {{> currentArticles }}
            {{/if}}
            {{!-- On saved view --}}
            {{#if saved}}
            {{> savedArticles }}
            {{/if}}
            {{!-- On hidden view --}}
            {{#if hidden}}
            {{> hiddenArticles }}
            {{/if}}
        </div>
    </div>
</div>

{{!-- Modal Structure --}}
<div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
        <div id="commentsSection">
            <div id="commentDiv">
                <div class="col s12">
                    <div id="comments"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a id="save"></a>
        <a href="#!" class="modal-close waves-effect waves-red btn-flat">Close</a>
    </div>
</div>

{{!-- Back to Top link --}}
<div id="back2top">
    <a href="#top">Back to Top</a>
</div>

{{!-- Footer --}}
<footer class="">
    <div class="container">
        <div class="row">

        </div>
    </div>
</footer>